@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .out { 
        @apply outline outline-black;
    }
    .btn
    {
        @apply w-11 h-11 grid place-items-center border-2 border-black/25 text-black rounded-md bg-white hover:bg-black/10 active:bg-black/20;
    }
    .toggle {
        @apply w-11 h-11 grid place-items-center bg-blue-600 hover:bg-blue-700 text-white rounded-md;
    }
    .toggle-active {
        @apply outline outline-blue-900;
    }

    .propsPanel {
        @apply flex flex-col gap-2 p-4 h-full border-2 border-black/15 rounded-md w-80;
    }
}

/* Add thin scrollbar to everything using regular scrollbar (not webkit) */
* {
    /* Reference: https://css-tricks.com/almanac/properties/s/scrollbar-gutter/ */
    scrollbar-gutter: stable;
    scrollbar-width: thin;
                    /* thumb | track */
    scrollbar-color: #d1d5db #f3f4f6;
}

body {
    background-color: #f3f4f6;
}
